# Python
**/__pycache__

# Tox
.tox

# Coverage
htmlcov
.coverage

# Ui
ui/android
ui/ios
ui/windows

# IntelliJ related
**/.idea/

# Flutter/Dart/Pub related
ui/**/doc/api/
ui/**/ios/Flutter/.last_build_id
ui/.dart_tool/
ui/.flutter-plugins
ui/.flutter-plugins-dependencies
ui/.packages
ui/.pub-cache/
ui/.pub/
ui/build/
